@import "tailwindcss";
@import "@heroui/styles";

[data-theme="light"] {
  /* Override dark theme colors */
  --success: rgb(99, 209, 87);
}

:root {
  color-scheme: light;
  --success: rgb(99, 209, 87);
  --surface-secondary: rgb(246, 246, 246);
  --secondary: var(--surface-secondary);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  --success: rgb(99, 209, 87);
  --surface-secondary: rgb(35, 35, 35);
  --secondary:var(--surface-secondary);
}

@font-face {
  font-family: 'chelsea';
  src: url("./fonts/ChelseaMarket-Regular.woff2") format("woff2");
}

body {
  overflow: hidden;
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .react-flow {
  --xy-background-pattern-dots-color-default: rgb(109, 109, 109) !important;
} */

/* ...or add this class to an element */
.polka {
  /* background-image: radial-gradient(var(--surface-secondary), 10%, transparent 10%); */
  background-position: 12px 12px;
  background-size: 24px 24px;
}